/* index.html */
html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
  letter-spacing: -2px;
}
#body_wrapper {
  margin-bottom: 61px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 61px;
  border-top: 1px solid #86cdff;
  text-align: center;
  padding: 15px 0;
  letter-spacing: 0px;
}

#header {
  text-align: center;
  color: white;
  background-color: #2158a8;
  padding-top: 15px;
  padding-bottom: 5px;
}

#header a {
  color: white;
}
#header a:link {
  color: white;
}
#header a:visited {
  color: white;
}
#header a:active {
  color: white;
}
#header a:hover {
  color: white;
  text-decoration: none;
}

.article_title {
  margin: 0;
  margin: 15px 0 10px 30px;
}
.article_author {
  text-align: center;
  margin-top: 20px;
}


/* read.html */
#read_title_area h2 {
  margin-top: 15px;
  margin-left: 25px;
  /*text-align: center;*/
}
#read_title_area h5 {
  margin: 0;
}
#read_title_area hr {
  margin-top: 10px;
}
#read_content {
  margin: 30px 10px 10px 10px;
}
#read_button_group {
  text-align: center;
}
#read_content hr {
  margin-bottom: 10px;
}
#read_button_group  hr {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}