<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Flask board{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

        <!-- 부트스트랩 CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div id="body_wrapper">
            <div id="header" class="container-fluid">
                <a href="{{ url_for('index') }}">
                    <h1>게시판</h1>
                </a>
            </div>
            <div id="login_area">
            {% if user %}
                <h5 class="text-center">{{ user.username }}님 환영합니다. <a href="{{ url_for('logout') }}">로그아웃</a></h5>
            {% else %}
                <div class="col-xs-4 col-sm-4 col-xs-offset-2 col-sm-offset-2">
                    <a href="{{ url_for('login') }}">로그인</a>
                </div>
                <div class="col-xs-4 col-sm-4 text-right">
                    <a href="{{ url_for('register') }}">회원가입</a>
                </div>
            {% endif %}
            </div>
            <div id="main" class="container-fluid">
            {% block main %}
                <div class="row">
                    <div class="col-sm-8 col-xs-8">
                        <h5 class="text-center">제목</h5>
                    </div>
                    <div class="col-sm-4 col-xs-4">
                        <h5 class="text-center">작성자</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="list-group">
                    {% for article in articles %}
                        <a href="{{ url_for('read', article_id=article.id) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8">
                                    <h2 class="article_title">{{ article.title }}</h2>
                                </div>
                                <div class="col-sm-4 col-xs-4">
                                    <h4 class="article_author">{{ article.author.username }}</h4>
                                </div>
                            </div>
                        </a>
                    {% else %}
                        <h1>등록된 게시물이 없습니다.</h1>
                    {% endfor %}
                        <a href="{{ url_for('write') }}" class="list-group-item text-center" style="margin-top: 15px;"><h4>글쓰기</h4></a>
                    </div>
                </div>
            {% endblock %}
            <div class="row">
              <div class="col-xs-10 col-sm-10 col-xs-offset-1 col-sm-offset-1 text-center">
              {% for message in get_flashed_messages() %}
                <h5 class="text-center" style="color: red;">{{ message }}</h5>
              {% endfor %}
              </div>
            </div>
            <div id="footer" class="container-fluid">
                <div class="container-fluid">
                  <p>2015 가을학기 파이썬 웹프로그래밍 세미나 수업 자료</p>
                </div>
            </div>
        </div>
    </body>
</html>