{% extends 'index.html' %}


{% block title %}{{ article.title }}{% endblock %}

{% block main %}
<div id="read_title_area">
	<h2>{{ article.title }}</h2>
	<h5>{{ article.author.username }}</h5>
	<h5>{{ article.published_at }}</h5>
	<hr>
</div>
<div id="read_content">
	<p>{{ article.content }}</p>
	<hr>
</div>
<div id="read_button_group">
	{% if article.author == g.user %}
	<a href="{{ url_for('modify', article_id=article.id) }}">수정</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{{ url_for('delete', article_id=article.id) }}">삭제</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{% endif %}
	<a href="{{ url_for('index') }}">목록</a>
	<hr>
</div>

<div id="read_comment_area">
	<h3>댓글 {{ comments_count }}개</h3>
	<ul class="list-group">
		{% for comment in comments %}
		<li class="list-group-item">
			<div class="row">
				<div class="col-xs-9 col-sm-9">
					<p>{{ comment.author.username }}&nbsp;&nbsp;&nbsp;<span class="small">{{ comment.published_at }}</span></p>
				</div>
				{% if comment.author == g.user %}
				<div class="col-xs-3 col-sm-3">
					<a href="{{ url_for('delete_comment', comment_id=comment.id )}}">댓글 삭제</a>
				</div>
				{% endif %}
			</div>
			<div>
				{{ comment.content }}
			</div>
		</li>
		{% endfor %}
	</ul>
	<h3>댓글 쓰기</h3>
	<form method="post" action="{{ url_for('write_comment', article_id=article.id) }}">
		<div class="form-group">
			<textarea class="form-control" name="content" placeholder="내용" rows="4"></textarea>
		</div>
		<div class="form-group">
			<button class="btn btn-default btn-block" type="submit">댓글 등록</button>
		</div>
		<div class="form-group">
		</div>
	</form>
</div>
{% endblock %}